@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family:'Poppins', Arial;
  background-color: #48279E;
}

.errmsg {
  width: 100%;
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  transition: 300ms;
}
.offscreen {
  position: absolute;
  left: -9999px;
  transition: 300ms;
}