@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family:'Poppins', Arial;
  background-color: #48279E;
}

.errmsg {
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  transition: 300ms;
}
.offscreen {
  position: absolute;
  left: -9999px;
  transition: 300ms;
}

.showform{
  display: block;
  padding: 16px;
  transition: height 300ms ease;
}
.hideform{
  display: none;
  padding: 16px;
  transition: height 300ms ease;
}